/* Hide controls by default */
video::-webkit-media-controls {
  opacity: 0 !important;
  transition: opacity 0.3s ease;
}
/* Show only on hover or JS 'hovered' */
video.hovered::-webkit-media-controls,
video:hover::-webkit-media-controls {
  opacity: 1 !important;
}

body {
  --video-ts-timeline-playable: var(--color-accent);
  --video-ts-timeline-playable-fade: rgba(76,175,80,0);
  --video-ts-timeline-playable-right: rgba(76,175,80,0);
  --video-ts-timeline-bg: rgba(240,50,50,0);
}